.env
storage/app/epvc/timestamp.text
storage/app/epvc/vc.text
storage/app/vault/firebase_service.json
storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
vendor/ahsankhatri/firestore-php/.editorconfig
vendor/ahsankhatri/firestore-php/.scrutinizer.yml
vendor/ahsankhatri/firestore-php/CHANGELOG.md
vendor/ahsankhatri/firestore-php/CONTRIBUTING.md
vendor/ahsankhatri/firestore-php/LICENSE.md
vendor/ahsankhatri/firestore-php/README.md
vendor/ahsankhatri/firestore-php/composer.json
vendor/ahsankhatri/firestore-php/phpunit.xml.dist
vendor/ahsankhatri/firestore-php/src/Attributes/FirestoreDeleteAttribute.php
vendor/ahsankhatri/firestore-php/src/Authentication/FirestoreAuthentication.php
vendor/ahsankhatri/firestore-php/src/Contracts/FirestoreDataTypeContract.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/BadRequest.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/Conflict.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/FieldNotFound.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/FieldTypeError.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/Forbidden.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/InvalidPathProvided.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/NotFound.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Client/Unauthorized.php
vendor/ahsankhatri/firestore-php/src/Exceptions/Server/InternalServerError.php
vendor/ahsankhatri/firestore-php/src/Exceptions/UnhandledRequestError.php
vendor/ahsankhatri/firestore-php/src/Fields/FirestoreArray.php
vendor/ahsankhatri/firestore-php/src/Fields/FirestoreBytes.php
vendor/ahsankhatri/firestore-php/src/Fields/FirestoreGeoPoint.php
vendor/ahsankhatri/firestore-php/src/Fields/FirestoreObject.php
vendor/ahsankhatri/firestore-php/src/Fields/FirestoreReference.php
vendor/ahsankhatri/firestore-php/src/Fields/FirestoreTimestamp.php
vendor/ahsankhatri/firestore-php/src/FirestoreClient.php
vendor/ahsankhatri/firestore-php/src/FirestoreDatabaseResource.php
vendor/ahsankhatri/firestore-php/src/FirestoreDocument.php
vendor/ahsankhatri/firestore-php/src/Handlers/RequestErrorHandler.php
vendor/ahsankhatri/firestore-php/src/Helpers/FirestoreHelper.php
vendor/ahsankhatri/firestore-php/src/Query/FirestoreQuery.php
vendor/ahsankhatri/firestore-php/tests/ExampleTest.php
vendor/ahsankhatri/firestore-php/tests/FirestoreDocumentTest.php
.well-known/ca_bundle.crt 
.well-known/certificate.crt 
.well-known/index.php 
.well-known/pki-validation/B57AF4C96CEE6B8D75C0C2CB995C4834.txt 
.well-known/private.key